<div class="row">
  <div class="col-12">
    <%= form_with url: (is_author? ? author_index_path : root_path), method: :get do |f| %>
      <%= f.text_field :query, value: query, placeholder: "Search", required: true %>
      <%= f.submit "Search", name: nil, class: "button" %>
    <% end %>
  </div>
</div>