<div class="row">
  <div class="col-12">
    <form class="content" action="/create" method="post">
      <textarea data-controller="markdown-editor" name="post"></textarea>
      <input type="text" name="tags" placeholder="Tags" value="">
      <input type="url" name="bookmark" placeholder="Bookmark URL" value="">
      <button type="submit" value="Publish">Submit</button>
    </form>
  </div>
</div>