/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  --background: #ffffff;
  --text-color: #333447;
  --code-block-background-color: #ffffff;
  --block-background-image: linear-gradient(120deg, #ebedee 0%, #fdfbfb 100%);
  --block-border-color: #d3d3d3;
  --block-img-background-color: #ffffff;
  --input-border-color: #808080;
  --input-background-color: #ffffff;
  --button-background-image: linear-gradient(120deg, #ebedee 0%, #fdfbfb 100%);
  background: var(--background);
}

.dark-mode {
  --background: #121212;
  --text-color: #ebebeb;
  --code-block-background-color: #121212;
  --block-background-image: linear-gradient(120deg, #191919 0%, #191919 100%);
  --block-border-color: #191919;
  --block-border-bottom-color: #a9a9a9;
  --block-img-background-color: #121212;
  --input-border-color: #808080;
  --input-background-color: #121212;
  --button-background-image: linear-gradient(120deg, #191919 0%, #191919 100%);
}

img {
  max-width: 100%;
}