form input, form button {
  display: block;
  border-radius: 6px;
  border: 1px solid var(--input-border-color);
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  padding: .5em .8em;
  tab-size: 4;
  margin-top: 1em;
  background: var(--input-background-color);
}

input:focus {
  outline:none!important;
}

button {
  background-image: var(--button-background-image);
  border: 1px solid #ebedee;
}